@import '_assets.scss';

.header {
    width: 100%;
    background: $grey;
    padding: 5px 0;
    position: absolute;
    

    &__container {
        display: flex;
        height: 8vh;
        justify-content: flex-end;
        align-items: center;
    }
}

.logo {
    margin-right: 5vw;
    width: 16%;
}